.fix-alert {
  position: fixed !important;
  top: 1em;
  right: 1em;
  margin-left: 1em;
  z-index: 99999999999999;
  text-align: initial;
  max-width: 500px;
  opacity: 1;

  & button:focus{
    outline: 0;
    box-shadow: none;
  }
}
